fogmachine/node-red/snapshot
[{"id":"60357278.4f951c","type":"exec","z":"af37ed20.edd79","command":"python temp.py","addpay":false,"append":"","useSpawn":false,"timer":"","name":"","x":124.50001525878906,"y":97.89999389648438,"wires":[["426e315e.02a4e"],[],[]]},{"id":"44f37714.f70868","type":"inject","z":"af37ed20.edd79","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":121.5,"y":36.80000305175781,"wires":[["60357278.4f951c"]]},{"id":"416a82a8.579d4c","type":"switch","z":"af37ed20.edd79","name":"Thermistat","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"175","vt":"num"},{"t":"btwn","v":"10","vt":"num","v2":"175","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":3,"x":124.49998474121094,"y":359.800048828125,"wires":[["166d0bcc.0ab694"],["e5a735df.f47ba8"],[]]},{"id":"426e315e.02a4e","type":"smooth","z":"af37ed20.edd79","name":"","action":"max","count":"2","round":"0","x":117.5,"y":164.39999389648438,"wires":[["3599a5f7.dc770a","c9cdb3a7.a2512"]]},{"id":"3599a5f7.dc770a","type":"rbe","z":"af37ed20.edd79","name":"","func":"deadband","gap":"1","start":"","inout":"out","x":120.49996948242188,"y":221.1999969482422,"wires":[["416a82a8.579d4c"]]},{"id":"a85d884d.310868","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Power to Heater","pin":"11","set":true,"level":"1","out":"out","x":1335.4999694824219,"y":56.86666297912598,"wires":[]},{"id":"166d0bcc.0ab694","type":"change","z":"af37ed20.edd79","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":312.4999694824219,"y":317.4000244140625,"wires":[["618268c7.493a08","c732bc54.065fb","79a38987.829f28"]]},{"id":"e5a735df.f47ba8","type":"change","z":"af37ed20.edd79","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":316.2000427246094,"y":400.20001220703125,"wires":[["618268c7.493a08","4ee60d9b.07ced4","79a38987.829f28"]]},{"id":"618268c7.493a08","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Heater","pin":"12","set":true,"level":"1","out":"out","x":1308.866542816162,"y":111.20004272460938,"wires":[]},{"id":"24a655f6.afc8ca","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Ready LED","pin":"22","set":true,"level":"1","out":"out","x":1618.1999282836914,"y":282.5333414077759,"wires":[]},{"id":"4ee60d9b.07ced4","type":"change","z":"af37ed20.edd79","name":"heating","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.20001220703125,"y":430.2000427246094,"wires":[["24a655f6.afc8ca","ee81eae5.1a4f18","feaec855.fa6f88"]]},{"id":"c732bc54.065fb","type":"change","z":"af37ed20.edd79","name":"ready","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":484.20001220703125,"y":287.20001220703125,"wires":[["24a655f6.afc8ca","ee81eae5.1a4f18","4d8fd7f3.60e638"]]},{"id":"ee81eae5.1a4f18","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Power to Fogger","pin":"13","set":true,"level":"1","out":"out","x":1327.1999588012695,"y":167.8666877746582,"wires":[]},{"id":"f4c2342a.e84e48","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Fog","pin":"15","set":true,"level":"1","out":"out","x":1300.8333015441895,"y":221.00003814697266,"wires":[]},{"id":"94720839.f67ba8","type":"ui_button","z":"af37ed20.edd79","name":"","group":"5b7f34da.988b8c","order":2,"width":0,"height":0,"label":"Fog","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":879.4999694824219,"y":443.4000244140625,"wires":[["431ece4e.f2ae6","54bee75e.eddb78"]]},{"id":"bbc2ade3.e077b","type":"ui_switch","z":"af37ed20.edd79","name":"","label":"Power","group":"5b7f34da.988b8c","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":880.4999694824219,"y":47.599998474121094,"wires":[["a85d884d.310868","149a542a.72901c","24e7aff6.337dc"]]},{"id":"431ece4e.f2ae6","type":"trigger","z":"af37ed20.edd79","op1":"","op2":"1","op1type":"pay","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","name":"","x":1052.4999694824219,"y":442.5999755859375,"wires":[["f4c2342a.e84e48","f434fb6a.72abb8"]]},{"id":"feaec855.fa6f88","type":"change","z":"af37ed20.edd79","name":"false","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660.2000122070312,"y":504.20001220703125,"wires":[["94720839.f67ba8"]]},{"id":"4d8fd7f3.60e638","type":"change","z":"af37ed20.edd79","name":"true","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":663.2000122070312,"y":242.20001220703125,"wires":[["94720839.f67ba8","90bda3b2.939b3"]]},{"id":"c9cdb3a7.a2512","type":"ui_gauge","z":"af37ed20.edd79","name":"Temp","group":"5b7f34da.988b8c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"F","format":"{{value}}","min":"32","max":"180","colors":["#00b500","#e6e600","#ca3838"],"x":884.5,"y":100,"wires":[]},{"id":"90bda3b2.939b3","type":"change","z":"af37ed20.edd79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ready to dispense poisonous gas","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":904.4999694824218,"y":203.000005086263,"wires":[["5e0f6807.e5c7b8"]]},{"id":"ca60c4d5.a928f8","type":"inject","z":"af37ed20.edd79","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":692.8333536783853,"y":154.66667175292966,"wires":[["90bda3b2.939b3"]]},{"id":"149a542a.72901c","type":"change","z":"af37ed20.edd79","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"Power Off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Power on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1059.4999694824216,"y":112.33333587646483,"wires":[["5e0f6807.e5c7b8"]]},{"id":"5e0f6807.e5c7b8","type":"ui_audio","z":"af37ed20.edd79","name":"","group":"5b7f34da.988b8c","voice":"3","x":1346.1666717529297,"y":624.6666560173035,"wires":[]},{"id":"54bee75e.eddb78","type":"change","z":"af37ed20.edd79","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"poisonous gas dispensing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1027.8332901000977,"y":530.6666741967201,"wires":[["5e0f6807.e5c7b8"]]},{"id":"79a38987.829f28","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Cold LED","pin":"18","set":true,"level":"1","out":"out","x":1600.6665267944336,"y":235.33331203460693,"wires":[]},{"id":"24e7aff6.337dc","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Ready LED","pin":"16","set":true,"level":"1","out":"out","x":1612.333251953125,"y":183.66665649414062,"wires":[]},{"id":"f434fb6a.72abb8","type":"rpi-gpio out","z":"af37ed20.edd79","name":"Fogging LED","pin":"29","set":true,"level":"1","out":"out","x":1617.6666259765625,"y":350.33331298828125,"wires":[]},{"id":"406138de.94f658","type":"inject","z":"af37ed20.edd79","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":858.1667098999023,"y":651.333324432373,"wires":[["54bee75e.eddb78"]]},{"id":"5b7f34da.988b8c","type":"ui_group","z":"","name":"Control","tab":"ea56db54.dcfac8","order":1,"disp":true,"width":"6"},{"id":"ea56db54.dcfac8","type":"ui_tab","z":"","name":"Fog Machine","icon":"dashboard","order":1}]
