system/node-red/snapshot
[{"id":"a928e7e3.0cd788","type":"OS","z":"7685c777.5c5878","name":"","x":304.20001220703125,"y":470.57152128219604,"wires":[["e5ad0420.651f98","ab6cc908.f6bca8","49b153c1.e43b2c","d11a0a01.7d8988"]]},{"id":"6e7b2fd6.1a5bb","type":"Uptime","z":"7685c777.5c5878","name":"","x":315.20001220703125,"y":425.57152128219604,"wires":[["f553a169.f7e01"]]},{"id":"7b368e6a.cfd76","type":"CPUs","z":"7685c777.5c5878","name":"","x":304.20001220703125,"y":515.571521282196,"wires":[["5737bb89.0ff7d4"]]},{"id":"63d91f61.08c5e","type":"Loadavg","z":"7685c777.5c5878","name":"","x":241.20001220703125,"y":237.57152128219604,"wires":[["eb77e354.8ed3d","d821a8de.8df1e8","b662ed85.ed3d7","63bbd33c.c7f7cc"]]},{"id":"118700ad.6b6d3f","type":"Memory","z":"7685c777.5c5878","name":"","x":181.20001220703125,"y":603.571521282196,"wires":[["b7a1b2ba.a889d","b6130d7e.53f0d","94a70c1c.414a8","d8860041.19eec"]]},{"id":"5ef9af5b.de207","type":"inject","z":"7685c777.5c5878","name":"update","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":164.20001220703125,"y":317.57152128219604,"wires":[["a928e7e3.0cd788","6e7b2fd6.1a5bb","7b368e6a.cfd76","63d91f61.08c5e","118700ad.6b6d3f"]]},{"id":"eb77e354.8ed3d","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":401.20001220703125,"y":176.57152128219604,"wires":[["79c6d0ac.d2145"]]},{"id":"d821a8de.8df1e8","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.loadavg[1];\nreturn msg;","outputs":1,"noerr":0,"x":404.20001220703125,"y":215.57152128219604,"wires":[["7c68f676.afc078"]]},{"id":"b662ed85.ed3d7","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.loadavg[2];\nreturn msg;","outputs":1,"noerr":0,"x":403.20001220703125,"y":258.57152128219604,"wires":[["5347f924.d947b8"]]},{"id":"79c6d0ac.d2145","type":"ui_gauge","z":"7685c777.5c5878","name":"CPU Load 1","group":"45cf133e.3f24ac","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"load","format":"{{value | number:2}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":571.2000122070312,"y":176.57152128219604,"wires":[]},{"id":"7c68f676.afc078","type":"ui_gauge","z":"7685c777.5c5878","name":"CPU Load 2","group":"45cf133e.3f24ac","order":2,"width":"3","height":"3","gtype":"gage","title":"5 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":571.2000122070312,"y":217.57152128219604,"wires":[]},{"id":"5347f924.d947b8","type":"ui_gauge","z":"7685c777.5c5878","name":"CPU Load 3","group":"45cf133e.3f24ac","order":4,"width":"3","height":"3","gtype":"gage","title":"15 Minutes","label":"load","format":"{{value | number:2}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"x":569.2000122070312,"y":259.57152128219604,"wires":[]},{"id":"b7a1b2ba.a889d","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":186.20001220703125,"y":771.571521282196,"wires":[["2e59838f.a87bdc"]]},{"id":"2e59838f.a87bdc","type":"ui_gauge","z":"7685c777.5c5878","name":"Memory Usage","group":"9f55e762.d19d68","order":1,"width":"0","height":"0","gtype":"gage","title":"1 Minute","label":"Usage","format":"{{value | number:2}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":370.20001220703125,"y":775.571521282196,"wires":[]},{"id":"b6130d7e.53f0d","type":"function","z":"7685c777.5c5878","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;","outputs":1,"noerr":0,"x":188.20001220703125,"y":814.571521282196,"wires":[["e5cd220e.2e072"]]},{"id":"94a70c1c.414a8","type":"function","z":"7685c777.5c5878","name":"","func":"function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;","outputs":1,"noerr":0,"x":186.20001220703125,"y":860.571521282196,"wires":[["140eb678.cf6aaa"]]},{"id":"e5cd220e.2e072","type":"ui_text","z":"7685c777.5c5878","group":"9f55e762.d19d68","order":2,"width":"0","height":"0","name":"","label":"Total Memory","format":"{{msg.payload}}","layout":"row-spread","x":369.20001220703125,"y":818.571521282196,"wires":[]},{"id":"140eb678.cf6aaa","type":"ui_text","z":"7685c777.5c5878","group":"9f55e762.d19d68","order":3,"width":"0","height":"0","name":"","label":"Free Memory","format":"{{msg.payload}}","layout":"row-spread","x":373.20001220703125,"y":861.571521282196,"wires":[]},{"id":"f553a169.f7e01","type":"function","z":"7685c777.5c5878","name":"","func":"function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;","outputs":1,"noerr":0,"x":476.20001220703125,"y":425.57152128219604,"wires":[["eb2aede7.2557c"]]},{"id":"eb2aede7.2557c","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"Uptime","format":"{{msg.payload}}","layout":"row-spread","x":631.2000122070312,"y":424.57152128219604,"wires":[]},{"id":"e5ad0420.651f98","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.hostname;\nreturn msg;","outputs":1,"noerr":0,"x":475.20001220703125,"y":462.57152128219604,"wires":[["82bf811.10b608"]]},{"id":"82bf811.10b608","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"Hostname","format":"{{msg.payload}}","layout":"row-spread","x":643.2000122070312,"y":464.57152128219604,"wires":[]},{"id":"ab6cc908.f6bca8","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.platform;\nreturn msg;","outputs":1,"noerr":0,"x":477.20001220703125,"y":500.57152128219604,"wires":[["13d6992b.a82d77"]]},{"id":"13d6992b.a82d77","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"Platform","format":"{{msg.payload}}","layout":"row-spread","x":639.2000122070312,"y":503.57152128219604,"wires":[]},{"id":"49b153c1.e43b2c","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.arch;\nreturn msg;","outputs":1,"noerr":0,"x":478.20001220703125,"y":539.571521282196,"wires":[["217503ba.ac546c"]]},{"id":"217503ba.ac546c","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"Arch","format":"{{msg.payload}}","layout":"row-spread","x":627.2000122070312,"y":543.571521282196,"wires":[]},{"id":"d11a0a01.7d8988","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.release;\nreturn msg;","outputs":1,"noerr":0,"x":479.20001220703125,"y":575.571521282196,"wires":[["58bc136a.096bbc"]]},{"id":"58bc136a.096bbc","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"Release","format":"{{msg.payload}}","layout":"row-spread","x":639.2000122070312,"y":581.571521282196,"wires":[]},{"id":"5737bb89.0ff7d4","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.cpus[0].model;\nreturn msg;","outputs":1,"noerr":0,"x":478.20001220703125,"y":616.571521282196,"wires":[["4b820898.1ad088"]]},{"id":"4b820898.1ad088","type":"ui_text","z":"7685c777.5c5878","group":"fe837036.cb5ed","order":1,"width":"0","height":"0","name":"","label":"CPU 1","format":"{{msg.payload}}","layout":"row-spread","x":630.2000122070312,"y":624.571521282196,"wires":[]},{"id":"63bbd33c.c7f7cc","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.loadavg[0];\nreturn msg;","outputs":1,"noerr":0,"x":408.20001220703125,"y":301.57152128219604,"wires":[["219c6c25.06d194"]]},{"id":"219c6c25.06d194","type":"ui_chart","z":"7685c777.5c5878","name":"CPU Load - Historical","group":"45cf133e.3f24ac","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":600.2000122070312,"y":301.57152128219604,"wires":[[],[]]},{"id":"d8860041.19eec","type":"function","z":"7685c777.5c5878","name":"","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":183.20001220703125,"y":732.571521282196,"wires":[["a93b8fe7.be70d"]]},{"id":"a93b8fe7.be70d","type":"ui_chart","z":"7685c777.5c5878","name":"Memory - 24 Hours","group":"9f55e762.d19d68","order":0,"width":"0","height":"0","label":"24 Hours","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"86400","x":381.20001220703125,"y":735.571521282196,"wires":[[],[]]},{"id":"6d811587.647ddc","type":"comment","z":"7685c777.5c5878","name":"CPU Load","info":"","x":558.2000122070312,"y":129.57152128219604,"wires":[]},{"id":"e7aeefa9.ee48","type":"comment","z":"7685c777.5c5878","name":"Memory Usage","info":"","x":366.20001220703125,"y":685.571521282196,"wires":[]},{"id":"5a0cf4b9.22993c","type":"comment","z":"7685c777.5c5878","name":"System Information","info":"","x":657.2000122070312,"y":374.57152128219604,"wires":[]},{"id":"37898381.9acbdc","type":"ui_button","z":"7685c777.5c5878","name":"","group":"6b6c87e6.1aefe8","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":158.77149963378906,"y":56,"wires":[["4163a0b5.b58f7"]]},{"id":"4163a0b5.b58f7","type":"exec","z":"7685c777.5c5878","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":376.77149963378906,"y":56,"wires":[[],[],[]]},{"id":"24786dcc.01c582","type":"ui_button","z":"7685c777.5c5878","name":"","group":"6b6c87e6.1aefe8","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":167.27149963378906,"y":100.25,"wires":[["8baa8908.e6e978"]]},{"id":"8baa8908.e6e978","type":"exec","z":"7685c777.5c5878","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":388.27149963378906,"y":118.25,"wires":[[],[],[]]},{"id":"45cf133e.3f24ac","type":"ui_group","z":"","name":"CPU Load","tab":"223b7c8c.beff14","order":2,"disp":true,"width":"6"},{"id":"9f55e762.d19d68","type":"ui_group","z":"","name":"Memory","tab":"223b7c8c.beff14","order":3,"disp":true,"width":"6"},{"id":"fe837036.cb5ed","type":"ui_group","z":"","name":"System Information","tab":"223b7c8c.beff14","order":1,"disp":true,"width":"6"},{"id":"6b6c87e6.1aefe8","type":"ui_group","z":"","name":"Control","tab":"223b7c8c.beff14","disp":true,"width":"6"},{"id":"223b7c8c.beff14","type":"ui_tab","z":"","name":"System","icon":"computer"}]
